@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFF;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
}

h4  {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.news h4 {
  transition: all 0.15s ease-in-out;
  font-size: .875rem;
  font-weight: 600;
  color: #070707;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
}

.news p {
  transition: all 0.15s ease-in-out;
  color: #6D6D6D ;
  font-size: 1rem;
  line-height: 150%;
  font-family: var(--font-manrope), sans-serif;
}

.news:hover p, .news:hover h4 {
  color: #FF702E;
}

.notice-card-small h2,
.notice-card-small p,
.notice-card-medium h2,
.notice-card-medium p,
.notice-card-large h2,
.notice-card-large p {
  transition: color 0.5s ease;
}

.notice-card-small:hover h2,
.notice-card-small:hover p,
.notice-card-medium:hover h2,
.notice-card-medium:hover p,
.notice-card-large:hover h2,
.notice-card-large:hover p {
  color: #6D6D6D;
}

.cupom-button:hover {
  width: 120px;
}

@media screen and (max-width: 768px) {
  .cupom-button:hover {
    width: 80%;
  }
}

.cupom-button:hover img {
  transition: all 0.3s ease-in-out;
  transform: translateY(3px) scale(1.08);
}

.li-noticia:hover {
  color: #444444;
}

.li-noticia:hover svg {
  fill: #F24D00;
}